body {
  font-size: 16px;
  line-height: 1.7em;
  font-family: 'Lato', sans-serif;
  color: #666666;
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.margin0,
ul.menu,
.block-block p {
  margin: 0;
}

.padding0,
ul.menu {
  padding: 0;
}

.paddingtop1 {
  padding-top: 1em;
}

.paddingbottom1 {
  padding-bottom: 1em;
}

.margintop1 {
  margin-top: 1em;
}

.marginbottom1 {
  margin-bottom: 1em;
}

.floatr {
  float: right;
}

.floatl {
  float: left;
}

.margin0auto {
  margin: 0 auto;
}

.displayn {
  display: none;
}

.displayb {
  display: block;
}

.displayinb {
  display: inline-block;
}

.width100 {
  width: 100%;
}

.width30 {
  width: 30%;
}

.width24 {
  width: 24%;
}

.width68 {
  width: 68%;
}

#sidebar {
  margin-right: 2%;
}

.top-buffer {
  margin-top: 1.3em;
}

.bottom-buffer {
  margin-bottom: 1.3em;
}

a {
  color: #0fbe7c;
  text-decoration: none;
}

body a.active {
  color: #0fbe7c;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#page-wrapper,
#footer-wrapper {
  max-width: 1200px;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  padding: 1em;
}

#footer-wrapper a {
  color: #d5d5d5 !important;
}

#footer-wrapper a:hover {
  color: #0fbe7c !important;
}

#footer-wrapper {
  background-color: #333333;
  border-top: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
}

#footer-wrapper h2 {
  font-size: 22px;
}

#footer-wrapper h3 {
  font-size: 20px;
}

#footer-wrapper h2,
#footer-wrapper h3 {
  color: #d5d5d5;
}
.footer-columns ul.menu {
  margin-left: 0;
}


input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  padding: 1%;
  border: 1px solid #eaeaea;
  line-height: 20px;
  width: 100%;
  background-color: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(120, 125, 52, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(120, 125, 52, 0.075);
  box-shadow: inset 0 1px 1px rgba(120, 125, 52, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: rgba(15, 190, 124, 0.62);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(120, 125, 52, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(120, 125, 52, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(120, 125, 52, 0.6);
}

label + [type="text"],
label + [type="search"],
label + [type="text"],
label + [type="text"],
label + [type="password"],
.resizable-textarea textarea,
label + select {
  margin: 0.8em 0;
}

label + select {
  margin-left: 0.8em;
  outline: none;
}

input[type="reset"],
input[type="button"],
input[type="submit"],
button,
#edit-cancel {
  color: #ffffff;
  outline: none;
  display: inline-block;
  padding: 5px 25px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  cursor: pointer;
  background-color: #0fbe7c;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
}

#edit-cancel {
  text-decoration: none;
}

a#edit-cancel {
  padding: 6px 25px;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 18px;
  color: #222222;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 29px;
  line-height: 36px;
}

h2 {
  font-size: 27px;
  line-height: 34px;
}

h3 {
  font-size: 25px;
  line-height: 32px;
}

.progress {
  height: 20px;
  position: relative;
  background: #555;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  padding: 0.05em 0.05em 0.11em 0.05em;
}

.progress .bar {
  height: 100%;
  background-color: transparent;
  border: none;
  margin: 0;
}

.progress .filled {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(43,194,83)),color-stop(1, rgb(84,240,84)));
  background-image: -moz-linear-gradient(center bottom,rgb(43,194,83) 37%,rgb(84,240,84) 69%);
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  background-color: #f0a3a3;
}

.progress .filled:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, rgba(255, 255, 255, .2)),color-stop(.25, transparent), color-stop(.5, transparent),color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.75, rgba(255, 255, 255, .2)),color-stop(.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.progress .message {
  margin-top: 0.5em;
}

table {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

table thead {
  border-bottom: 1px solid rgba(0,0,0,.03);
}

table td,
table tr,
table th {
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

table th {
  cursor: auto;
  background-color: rgba(0,0,0,.06);
  text-align: left;
  color: rgba(0,0,0,.8);
  padding: .5em .7em;
  border: none;
  vertical-align: middle;
}

table td {
  padding: .4em .7em;
  vertical-align: middle;
}

table thead th:first-child {
  border-radius: 5px 0 0;
}

table thead th:last-child {
  border-radius: 0 5px 0 0;
}

table tbody tr:nth-child(2n) {
  background-color: rgba(0,0,50,.03);
}

tr.even,
tr.odd {
  background-color: #fff;
  border-bottom: none;
  padding: 0;
}

body .messages {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

body .messages.messages--status {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

div.messages.messages--status li:before {
  font-family: "insha-icon-font" !important;
  content: "o";
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 5%;
}

div.messages.messages--warning li:before {
  content: "w";
  font-family: "insha-icon-font" !important;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 13%;
}

body .messages.messages--warning {
  background-color: #fcf6da;
  border-color: #fde8bd;
  color: #8a6d3b;
}

body .messages.messages--warning li {
  margin-bottom: 0.1em;
}

body .messages.messages--error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

body .messages ul {
  margin: 0;
}

body .messages li {
  list-style: none;
  position: relative;
  padding-left: 1.3em;
}

body .messages.messages--error li:before {
  font-family: "insha-icon-font" !important;
  content: "n";
  position: absolute;
  left: 0;
  top: 21%;
  font-size: 12px;
}

.form-type-checkbox,
.form-type-radio {
  position: relative;
  display: inline-block;
  min-width: 1em;
  height: 1.25em;
  line-height: 1em;
  outline: 0;
  margin: 0.4em;
  vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  outline: 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: rgba(0,0,0,.6);
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  transition: color .2s ease;
  cursor: pointer;
  padding-left: 1.5em;
  outline: 0;
}

input[type="radio"] + label:before {
  min-width: 1em;
  height: 1em;
  border-radius: 500px !important;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  position: absolute;
  top: 0;
  line-height: 1;
  width: 1em;
  height: 1em;
  left: 0;
  content: '';
  border-radius: 4px;
  background: #ffffff;
  -webkit-transition: background-color .3s ease,-webkit-box-shadow .3s ease;
  -moz-transition: background-color .3s ease,box-shadow .3s ease;
  transition: background-color .3s ease,box-shadow .3s ease;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

.form-type-radio input[type="radio"] + label:after {
  border: 0;
  top: .2em;
  left: .2em;
  width: .6em;
  height: .6em;
  background-color: #555;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 500px !important;
}

input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  top: .275em;
  left: .2em;
  width: .45em;
  height: .15em;
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  background: transparent;
  border: .2em solid #333;
  border-top: 0;
  border-right: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-items .field-item {
  float: left;
}

.field-type-taxonomy-term-reference .field-items .field-item,
.field-type-taxonomy-term-reference .field-label {
  margin-right: 0.3em;
}

.field-type-taxonomy-term-reference .field-items .field-item:after {
  content: ",";
  color: #0fbe7c;
}

.field-type-taxonomy-term-reference .field-items .field-item:last-child:after {
  content: "";
}

.field-type-taxonomy-term-reference .field-label {
  font-weight: 400;
}

.field-type-taxonomy-term-reference {
  position: relative;
  float: left;
  margin-right: 0.5em;
}

.node[class*="node--"] .node__links {
  border-top: 2px solid #f5f5f5;
  padding: 20px 40px 20px;
  border-bottom: 2px solid #f5f5f5;
  float: left;
  width: 100%;
}

.node-teaser header,
.node[class*="node--"] [class*="--title"] {
  padding: 0 40px 0;
  display: inline-block;
}

.field-node--field-image {
  float: left;
  margin-right: 1em;
  margin-bottom: 0.3em;
}

.field-node--field-image * {
  float: left;
}

.node__submitted {
  margin-bottom: 1em;
  display: inline-block;
  float: left;
}

.node__meta {
  padding: 0 40px 0;
}

.node__meta .profile {
  float: right;
  margin-top: -7px;
}

.node__meta .profile img {
  width: 40px;
  height: auto;
}

.node .submitted .submitted-innerwrap {
  float: left;
  margin-top: 5px;
}

.node-teaser .content,
.node[class*="node--"] .node__content {
  padding: 0 40px 10px;
  display: inline-block;
  width: 100%;
}

.node[class*="node--"] {
  width: 100%;
}

#comments {
  margin: 0;
  display: inline-block;
  width: 100%;
}

.sidebar,
.page-node- #content {
  padding: 0 1.3em 1em;
}

.sidebar,
.node[class*="node--"] {
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  margin-bottom: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
}

.node--view-mode-full {
  padding-top: 40px;
}

.node h2,
.block h2 {
  padding-bottom: 0;
  margin-bottom: 0.5em;
}

.node h2.title {
  padding-left: 0;
}

.comment-form label {
  display: inline-block;
  margin-bottom: 5px;
}

.comment-form textarea,
.form-actions {
  margin-bottom: 0;
}

.comment-form .filter-wrapper {
  border: 1px solid #eaeaea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.comment-form .username {
  margin-left: 0.4em;
}

.breadcrumb {
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  /* add important to overide claro css */
  padding: 5px 20px !important;
  margin-left: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  list-style: none;
  margin-top: 0;
  display: inline-block;
  width: 100%;
}

.breadcrumb > li {
  margin: 0 2px 0 0;
  display: inline-block;
}

.breadcrumb li:not(:first-child):before {
  padding: 0;
  color: #cccccc;
  content: "/\00a0";
}

.breadcrumb li:first-child a:first-child {
  display: inline-block;
}

.breadcrumb li:first-child a + a {
  display: none;
}

ul.primary {
  margin: 0;
  border-bottom: 1px solid #dcddde;
}

ul.primary li a {
  background-color: transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}

ul.primary li.active {
  display: inline-block;
  padding: 0;
}

ul.primary li.active a {
  position: relative;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  border-color: #dcddde;
  margin-bottom: -1px;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px 5px 0 0;
  border-style: solid;
  border-width: 1px;
}

ul.primary li a:hover {
  background-color: transparent;
}

ul.primary li a {
  padding: 0;
  border: none;
  font-weight: 400;
  margin: 0;
  padding: 0.4em 1.4em 0.4em;
  background-color: transparent;
}

.menu--main .menu li {
  display: inline-flex;
  background: none;
  list-style-type: none;
  border: none;
  margin: 0 0 0.2em 0;
  float: left;
}

.navigation ul.inline li {
  padding: 0;
}

.menu--main .menu li:before {
  content: none;
}

.menu--main .menu li a {
  padding: 0.6em 1.2em !important;
  text-decoration: none;
  margin-right: 0.2em;
}

.menu--main .menu li a.active {
  color: #0fbe7c;
  font-weight: bold;
}

.menu--main .menu {
  display: inline-block;
  width: 100%;
}

.comment {
  padding: 1em;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  margin-bottom: 1em;
}

.comment .content {
  padding: 0;
  width: auto;
  clear: both;
}

.comment h3 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 0.3em;
}

.icon-comment,
.icon-comment-1 {
  float: left;
  color: #0fbe7c;
  margin-top: 0.15em;
}

.comment ul.links li,
.submitted {
  font-size: 14px;
}

.comment ul.links {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
}

.comment ul.links li.first {
  padding-left: 0;
}

.comment ul li a,
.comment .new {
  position: relative;
}

.comment ul li.comment-delete a:before,
.comment ul li.comment-edit a:before,
.comment ul li.comment-reply a:before {
  content: "D";
  font-family: "insha-icon-font";
  position: relative;
  top: 3px;
  margin-right: 0.5em;
}

.comment ul li a:hover {
  text-decoration: none;
}

.comment .user-picture {
  float: right;
}

.comment .user-picture img {
  width: 40px;
}

.comment .submitted {
  width: auto;
  float: left;
}

.comment ul li.comment-edit a:before {
  content: "s";
}

.comment ul li.comment-reply a:before {
  content: "t";
}

.comment .new {
  float: right;
  color: #5bd4a6;
  margin-right: 1em;
}

.comment-wrapper .indented {
  margin: 1em 0 1em 1em;
}

.search-block-form form {
  position: relative;
}

.search-block-form .form-item  {
  width: 100%;
}

.search-page-form input.button {
  margin-left: 0;
}

.search-block-form input {
  margin: 0;
  padding: 0.6em 1em;
  width: 100%;
}

.search-block-form .form-actions {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.search-block-form .form-actions input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-indent: -999px;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.search-block-form .form-actions:after {
  content: "u";
  font-family: "insha-icon-font";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5em;
  display: flex;
  align-items: center;
}

.search-block-form .form-type-search {
  display: inline-block;
  margin: 0;
  width: 100%;
}

fieldset {
  border: 2px solid #d0d0d0;
  padding: 1em;
}

fieldset legend {
  padding: 0 0.5em 0 0.5em;
  margin: 0 1em;
}

fieldset .fieldset-legend a {
  padding-left: 1.5em;
}

fieldset .fieldset-legend {
  padding: 0 !important;
}

ul.menu li {
  list-style: none;
}

/* ul.menu li:before {
  content: "d";
  font-family: "insha-icon-font";
  font-size: 1em;
  margin-right: 0.8em;
} */

.toolbar-menu-administration ul.menu li:before {
  content: none;
}

#logo {
  width: auto;
}

#logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#site-name {
  margin-bottom: 0;
  padding-bottom: 0;
}

#name-and-slogan {
  margin-left: 1.5em;
  display: inline-block;
}

.region-header {
  clear: both;
  width: 100%;
  float: left;
}

.block-search {
  float: left;
  width: 100%;
  margin-top: 1em;
}

.block-menu,
.content,
.block {
  display: inline-block;
  width: 100%;
}

.node__content p:first-child {
  margin-top: 0;
}

.region-content .block-search {
  margin-top: 0;
  margin-bottom: 1em;
}

.secondary_nav_account,
.secondary_nav_logout {
  float: left;
  margin-right: 1em;
}

.secondary_nav_logout:before,
.secondary_nav_account:before {
  content: "f" !important;
}

.secondary_nav_account:before {
  content: "a" !important;
}

ul.tabs,
[role="complementary"] {
  margin-bottom: 1em;
}

[class*="block-block-"] h2,
.block-user h2 {
  position: relative;
}

[class*="block-block-"] h2:after,
.block-user h2:after {
  border-bottom: 3px solid #0fbe7c;
  content: " ";
  display: inline-block;
  width: 3em;
  position: absolute;
  bottom: -6px;
  left: 0;
}

details > .details-wrapper {
  display: inline-block;
}

details > .details-wrapper .form-type-select {
  margin-top: 0;
}

details > .details-wrapper .form-type-checkbox,
details > .details-wrapper .form-type-radio {
  height: auto;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-top: 1em;
}

.node-page .field-item p:first-child {
  margin-top: 0;
}

#user-login-form .form-type-textfield input:focus,
#user-login-form .form-type-password input:focus,
#user-login .form-type-textfield input:focus,
#user-login .form-type-password input:focus {
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-appearance: none;
  box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
}

#user-login-form .form-type-textfield input,
#user-login-form .form-type-password input,
#user-login .form-type-textfield input,
#user-login .form-type-password input {
  transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
  -webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
  padding: 0.5em 0.5em 0.5em 1em;
}

ul.pager li.pager-item,
ul.pager li.pager-current,
ul.pager li.pager-next,
ul.pager li.pager-last,
ul.pager li.pager-previous,
ul.pager li.pager-first {
  padding: 0;
  margin: 0 0 0 0.1em;
}

ul.pager li.first {
  margin-left: 0;
}

header ul.menu a.is-active {
  color: #fff;
}

ul.pager li.pager-item a,
ul.pager li.pager-current,
ul.pager li.pager-next a,
ul.pager li.pager-last a,
ul.pager li.pager-previous a,
ul.pager li.pager-first a,
.menu--main .menu li a {
  padding: 0.2em 0.9em;
  background-color: rgba(0,0,0);
  text-decoration: none;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 1;
}

ul.pager li.pager-item a:hover,
ul.pager li.pager-current:hover,
ul.pager li.pager-next a:hover,
ul.pager li.pager-last a:hover,
ul.pager li.pager-previous a:hover,
ul.pager li.pager-first a:hover,
.menu--main .menu li a:hover {
  border-color: #727272;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.footer-columns {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;

}

#footer {
  border-top: 1px solid #fff;
  padding: 30px 0 20px 47px;
}


#footer-wrapper img {
  border: 1px solid #eeeeee!important;
  padding: 3px!important;
  width: 40%;
  margin: 1rem 0;
}
#footer-wrapper p img {
  margin-top: 10px;
}

.footer-columns.footer_fourthcolumn_wrapper {
  margin-right: 0;
}

.region-help .block-search,
.region-highlighted .block-search,
.region-featured .block-search {
  margin: 0;
}

.region-help .block + .block-search,
.region-highlighted .block + .block-search,
.region-featured .block + .block-search {
  margin-top: 1em;
}

.region-help,
.region-featured,
.region-highlighted {
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
}

#secondary-menu li {
  float: left;
  margin-right: 1em;
  list-style: none;
}

#secondary-menu li:before {
  content: "i";
  margin-right: 0.6em;
  font-family: "insha-icon-font";
  position: relative;
  top: 2px;
}

#page-title {
  margin-bottom: 0;
}

.page-comment h1#page-title {
  margin: 0;
}

#block-system-navigation {
  margin-bottom: 1em;
}

article h2 {
  padding: 0 40px 10px;
}
article .node__links {
  padding: 20px 40px 20px 0 !important;
}
article .node__links ul {
  margin: 0.25em 0 0.25em 0 !important;
}
article .node__links ul li {
  padding: 0 !important;
  margin-right: 20px;
}
article .node__links ul li:first-child a {
  background-color: #0fbe7c;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #0fbe7c;
  border-radius: 3px;
}
article .node__links ul li a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #0fbe7c;
  text-decoration: none;
}
