/**
 ** CSS for small devices
 */

@media screen and (max-width: 768px) {

  .sidebar,
  .help-wrapper,
  #content,
  #highlighted {
    width: 100%;
  }

  .node.node-teaser,
  .page-node- #content-wrapper,
  .page-contact #content-wrapper,
  .sidebar,
  .page-node- #content {
    margin-bottom: 20px;
  }

  #sidebar-first {
    margin-right: 0;
  }

  .node-teaser header {
    padding: 0 25px;
  }

  .node-teaser .content {
    padding: 0 25px 7px;
  }

  .node footer {
    padding: 15px 25px;
  }

  .footer-columns {
    margin-right: 1.3%;
    padding-left: 10px;
    padding-right: 10px;

  }
}

@media screen and (max-width: 480px) {

  .footer-columns {
    width: 100%;
  }

  .node .submitted .user-picture {
    display: none;
  }

  #secondary-menu {
    width: 100%;
  }


}
